* {
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.absolute {
  position: absolute;
  display: block;
  padding: 10px;
  text-align: center;
}

#mainBody {
  width: 100vw;
  /*height: 56.25vw;*/ /* 100/56.25 = 1.778 */
  /*background: black;*/
  /*max-height: 100vh;*/
  /*max-width: 177.78vh;*/ /* 16/9 = 1.778 */
  margin: 0 auto;
  position: absolute;
  top:0;bottom:0; /* vertical center */
  left:0;right:0; /* horizontal center */
}