extends layout

block content
  #edit
    #editor
      p Select a background color or image.
      #colorpicker
        .color.c1
        .color.c2
        .color.c3
        .color.c4
        .color.c5
        .color.c6
        .color.c7
        .color.c8
        .color.c9
        .color.c10
        .bgimage
      p What text do you want in the content box?
      input.textbox(type="text")
      p How about adding a hyperlink?
      input.textbox(type="text")
      button.submit.right Submit
      .clearfix

  #mainBody
