doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='/gun.js')
  body(style="margin: 0; padding: 0;")
    block content

script(src='/js/main.js')
